@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h2 {
  @apply mt-8 mb-2;
}

h3 {
  @apply mt-8 mb-2;
}

h4 {
  @apply mt-8 mb-2;
}

p {
  @apply my-3;
}

.card {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: currentColor;
    content: '';
  }

  &::before {
    width: 30px;
    height: 5px;
  }

  &::after {
    height: 30px;
    width: 5px;
  }

  &--lg {
    &::before {
      height: 8px;
    }

    &::after {
      width: 8px;
    }
  }
}

// Used for accessible link wrapper. Requires a relative parent.
.a11y-link-wrap::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 10;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: 2px dotted currentColor;
  outline-offset: 2px;
}

.dialog-container,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog-container {
  @apply bg-slate-800;

  z-index: 100;
  display: flex;
  overflow-y: auto;
  animation: fade-in 400ms 200ms both;
}

.dialog-container[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  @apply bg-slate-800;

  animation: fade-in 200ms both;
}

.dialog-content {
  @apply bg-slate-800 text-white py-24;

  position: relative;
  z-index: 100;
  width: 100%;

  a {
    color: currentColor;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

.tabs {
  width: 100%;
  max-width: 1080px;
  display: grid;
  gap: 3rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 4fr;
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 3fr;
  }

  [role="tablist"] {
    display: flex;
    flex-direction: column;
  }

  [role="tab"] {
    position: relative;
    display: flex;
    margin-left: calc(1rem + 30px);
    margin-bottom: 0.5rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &::after {
      position: absolute;
      top: 0;
      left: calc(-30px - 1rem);
      width: 30px;
      height: 30px;
      background-color: currentColor;
      content: '';
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &[aria-selected="true"] {
      font-weight: bold;

      &::after {
        opacity: 1;
      }
    }
  }
}
